@model Who.Web.Models.PersonalScoreViewModel

@{
    ViewBag.Title = "HighScoresPersonal";
}

<div class="row">
    <div class="col-xs-12 text-center">
        <h3>Rank #@Model.Rank</h3>
        <h6>New Score</h6>
        <h6>Previous Top Score</h6>
    </div>
</div>