    @model Who.Web.Models.GameViewModel

@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-xs-12 text-center">
        <h1>Who's Who?</h1>
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 text-center">
        @Html.ActionLink("Play!", "Play", "Round", new { area = "" }, new { @class = "btn btn-success btn-lg" })
        <hr />
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
        @Html.ActionLink("View Highscores", "HighScoresForAllPlayers", "Game", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
        <hr />
    </div>
</div>