body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.img-game {
    margin: 0;
    max-height: 300px;
}

.img-ignore {
    filter: grayscale(100%);
}

.border-success {
    border: 3px solid green;
    -webkit-box-shadow: 0 0 20px green;
    box-shadow: 0 0 20px green;
}

.border-danger {
    border: 3px solid red;
    -webkit-box-shadow: 0 0 20px red;
    box-shadow: 0 0 20px red;
}

figure {
    padding: 0;
    margin-top: 15px;
    max-width: 200px;
}

.navbar-inverse {
    background-color: #616666;
    background-image: none;
    background-repeat: no-repeat;
    border-color: #616666;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
